
/* @import url("https://fonts.googleapis.com/css2?family=EB+Garamond&display=swap"); */
@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

@font-face {
  font-family: toki-pona;

  /* src: url('linjapimeja19.woff2') format('woff2'); */

  /* src: url("linja-pona-4.2.otf"); */
  /* url("linja-pona-4.2.woff") format("woff"); */

  src: url('sitelen-pona-pona.otf');
}

*, *::after, *::before {
  box-sizing: border-box;
}
